.App {
  text-align: center;
}

header,
footer {
  width: 100%;
  background-color: #e28800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  flex-direction: column;
  background-color: #e7a541;
  display: flex;
  justify-content: left;
  flex-basis: 100%;
  font-size: medium;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  nav {
    flex-direction: row;
  }

  nav a:last-child {
    margin-left: auto;
  }
}

/* 0 0 2 */
nav a {
  color: white;
  padding: 1em 2em;
  font-weight: bold;
  vertical-align: bottom;
  text-align: center;
  margin: 1px;
}

nav a:hover {
  background-color: #b36d04;
  outline: 2px solid white;
}

main {
  max-width: 70em;
  margin: 0, auto;
  flex-grow: 1;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  margin: 3em;
  flex-wrap: wrap;
  justify-content: space-around;
}

a[href^='/producto/']{
  color: black;
}

a {
  text-decoration: none;
}